.video-slider {
    width: 100%;
}

.preview-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.video-preview-img {
    max-width: 100%;
}

.video-preview-control {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.video-preview-control label {
    display: block;
    font: 20px "Impact", sans-serif;
    min-width: 160px;
}

.video-preview-control input {
    width: 100%;
    min-width: calc(100% - 160px);
}


@media (max-width: 650px) {
    .preview-options {
        display: grid;
        grid-template-columns: 1fr;
    }
}