.container {
    padding: 5vh 10vw 0 10vw;
}

.processing-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

/* video preview */
.video-preview {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.video-slider {
    width: 100%;
}

/* .video-preview-img { */
.video-preview-canvas {
    width: 100%;
}

.video-preview-control {
    text-align: left;
    /* display: grid;
    grid-template-columns: 1fr 3fr; */
    width: 100%;
}

.video-preview-control label {
    display: block;
    font-size: 0.75rem;
    /* width: 100%; */
}

/* preview options */
.preview-options {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

/* captions preview */
.captions-preview {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.captions-preview textarea {
    width: 100%;
    height: 100%;
}

@media (max-width: 650px) {
    .preview-options {
        display: grid;
        grid-template-columns: 1fr;
    }
}