{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="content">
        <div class="processing-area">
            {% include 'uploader/process/video-preview.html' %}
            {% include 'uploader/process/preview-options.html' %}
            {% block video_preview %}{% endblock %}
            {% block preview_options %}{% endblock %}
            <div class="captions-preview">
                <!-- Captions preview will be displayed here -->
                <textarea id="captions-textbox">{{ captions_url }}</textarea>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    {% block js_vid_prev %}{% endblock %}
    {% block js_prev_opt %}{% endblock %}
</script>
<script src="{% static 'process/process.js' %}"></script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'process/style.css' %}">
{% endblock %}
